export(sandwrm)
export(ml2init)
export(getIdxsG)
export(makeParaHom)
export(checkPrBounds)
export(generateInitPars)
export(getPhom)
export(saveOut)
export(vizWMout)
export(makeCmpParPlots)
export(plotFit)
import(rstan)
import(rstantools)
importFrom(rstan,sampling)
